.first-entry {
  min-height: 0;
}

#mc_embed_signup form#mc-embedded-subscribe-form {
  padding: 10px 0 10px 0;
}

input {
  color: var(--secondary);
}

#subscribe-button {
  /* copied from .post-tags a */
  display: block;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  color: var(--secondary);
  background: var(--code-bg);
  font-size: 14px;
  line-height: 34px;
  /* custom */
  border-width: 0 !important;
  border-radius: var(--radius);
}

#subscribe-button:hover {
  /* copied from .post-tags a:hover */
  background: var(--border);
}
