.first-entry {
  min-height: 0;
}

#mc_embed_signup {
  /* copied from .share-buttons */
  border-radius: var(--radius);
  background: var(--code-bg);
  border: 1px solid var(--border);
  /* custom */
  /* padding: 10px; */
}

#mc_embed_signup form#mc-embedded-subscribe-form {
  padding: 10px;
}

/* #mc_embed_signup form#mc-embedded-subscribe-form {
  padding: 10px 0 10px 0;
} */

#subscribe-form-header {
  text-align: center;
  margin-bottom: 8px;
}

#mc_embed_signup div.mc-field-group {
  width: 100%;
}

input {
  color: var(--secondary);
}

#subscribe-button {
  /* copied from .post-tags a */
  display: block;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  /* color: var(--secondary); */
  /* background: var(--code-bg); */
  color: var(--code-bg);
  background: var(--secondary);
  font-size: 14px;
  line-height: 34px;
  /* custom */
  border-width: 0 !important;
  border-radius: var(--radius);
}

/* TODO: fix this */
#subscribe-button:hover {
  /* copied from .post-tags a:hover */
  /* background: var(--border); */
}
