.first-entry {
  min-height: 0;
}

/* SUBSCRIBE */

#mc_embed_signup {
  /* copied from .share-buttons */
  border-radius: var(--radius);
  background: var(--code-bg);
  border: 1px solid var(--border);
}

#mc_embed_signup form#mc-embedded-subscribe-form {
  padding: 6px 10px 12px;
}

#mc_embed_signup #mce-EMAIL {
  margin-right: 5px;
}

input {
  color: var(--secondary);
}

#subscribe-button {
  /* copied from .post-tags a */
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  font-size: 14px;
  line-height: 34px;
  /* custom */
  display: inline-block;
  border-width: 0 !important;
  border-radius: var(--radius);
  color: var(--code-bg);
  background: var(--primary);
}

#subscribe-button:hover {
  background: var(--secondary);
}

/* ALERT */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

div.alert-info,
div.alert-info > a {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f !important;
}
