Django
black
boto3
django-environ
django-extensions
django-migration-linter
django-storages
django-zen-queries
djangorestframework
djangorestframework-dataclasses
factory-boy
isort
mypy
pip-tools
psycopg[binary]
pytest
pytest-django
requests
