pip-tools
black
mypy
isort

Django
django-stubs
# django-stubs-ext  # automatically installed with django-subs
django-extensions
django-zen-queries
djangorestframework

psycopg2

pytest
pytest-django
