[flake8]
ignore =
  # Too many leading '#' for block comment
  E266,
  # Line too long, we use black
  E501,
  # Line break occurred before a binary operator
  W503,
max-line-length = 88
max-complexity = 18
exclude = */migrations/*,venv/*,scripts/*
per-file-ignores =
  */settings/*:F403,F405
